<h3>Choose your weapon:</h3>
<div id="content">
  <a href="#"><img src="./images/rock.png" alt="rock"</a>
  <a href="#"><img src="./images/paper.png" alt="paper"</a>
  <a href="#"><img src="./images/scissors.png" alt="scissors"</a>
  <a href="#"><img src="./images/lizard.png" alt="lizard"</a>
  <a href="#"><img src="./images/spock.png" alt="spock"</a>
</div>
<div id='footer'>
  <h4>A game by Andrew Wallace and John Randall</h4>
  <h5>2014</h5>

