<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  <title>Rock Paper Scissors Lizard Spock</title>


</head>
<body>

  <header>
    <h1> ROCK, PAPER, SCISSORS, LIZARD, SPOCK </h1>
    <h2> The fate of the galaxy is in your hand </h2>
  </header>

  <%= yield %>  <!-- yield pushes the content div. -->

  <footer>
  footer here
  </footer>
</body>
</html>
