<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  <title>Rock Paper Scissors Lizard Spock</title>


</head>
<body>

  <header>
    <h1> ROCK, PAPER, SCISSORS, LIZARD, SPOCK </h1>
    <h2> The fate of the galaxy is in your hand </h2>
  </header>

  <%= yield %>  <!-- yield pushes the content div. -->

  <footer>
  footer here
    <img src="http://a272.phobos.apple.com/us/r30/Purple/v4/b9/8a/30/b98a3075-8ec2-6294-c8bc-beeedea6027d/mzl.xafmpgzv.png">
  </footer>
</body>
</html>
