<h3>Choose your weapon:</h3>
<div id="content">
  <a href="/play/rock"><img src="./images/rock.png" alt="rock"</a>
  <a href="/play/paper"><img src="./images/paper.png" alt="paper"</a>
  <a href="/play/scissors"><img src="./images/scissors.png" alt="scissors"</a>
  <a href="/play/lizard"><img src="./images/lizard.png" alt="lizard"</a>
  <a href="/play/spock"><img src="./images/spock.png" alt="spock"</a>
</div>

